@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
    margin: 0;
}
main, header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    background-color: #562EFF;
    color: white;
}
.heading-container{
    width: 940px;
    padding: 10px 0 15px 0;
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding: 35px;
    margin-top: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/*Nav Bar- header part 
.heading-section{
    width: 100%;
}
.heading-container{   
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
}
.heading-container img{
    width: 50px;
    height: 50px;
}

*/
.menu-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
}
.icon{
    width: 40px;
    height: 51px;
}
.logo, .menu{
    display: flex;
    align-items: center;
}
.logo h3{
    margin-left: 10px;
}
.menu{
    padding-left: 200px;
}
.menu p{
    margin-right: 36px;
}
/* top player */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562eff;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/*-----------
top blog styles
------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 224px;
    height: 127px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 18px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color:#562EFF;
}
/*--------------
courses style
-----------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    border-radius: 15px;
    box-shadow: 1px 5px 5px rgba(212, 211, 211, 0.363);
}
.course .course-banner img{
    width: 266px;
    height: 141px;
}
.course-detail{
    padding: 10px;
}
.course-author, .far{
    font-size: 12px;
}
.course-author{
    color: #FF4A60;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
    opacity: 0.25;
}
.course-duration{
    color: #FF4A60;
    background-color: #f8a6947a;
    border-radius: 50px;
    padding: 0 5px;
}

/*Media queries------------*/
/*---mobile phone---*/
@media only screen and (max-width:688px) {
    .container, .heading-container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog, .course{
        flex-direction: column;
    }
}
/*-----tablets----*/
@media only screen and (min-width:688px) and (max-width:992px) {
    .container, .heading-container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .player{
        flex-direction: column;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}